<div class="flex-space-hz">
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
    <div class="box red"></div>
</div>
<div class="flex-space-vt ">
    <div class="box red"></div>
    <div class="box red"></div>
</div>