.flex-space-vt{
    // background-color: yellow;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
}
.flex-space-hz{
    // background-color: yellow;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: row;
}
.show-hz{
    display: flex;
    justify-content: space-between;
}
.hz-reverse{
    display:flex;
    flex-direction: row-reverse;
}
.row-end{
    display:flex;
    justify-content: flex-end;
}
.row-start{
    display:flex;
    justify-content: flex-start;
}
.vt-reverse{
    display:flex;
    flex-direction: column-reverse;
}
.vt-down{
    display:flex;
    flex-direction: flex-end;
}
.bg-home-yellow{
    background-color: #94943e;
}

.bg-home-green{
    background-color: #89b889;
}
.bg-home-red{
    background-color: #f3171747;
}
.bg-home-blue{
    background-color: #9a9adb;
}