<div id="" class="row">
    <div id="" class="col">
        <label for="" id="" class="striker-label"> 1 .Left Top Extreme</label>
        <div id="" class="striker bg-green">
                <div id="" class="row1">
                    <div id="" class="striker-box"></div>
                    <div id="" class="striker-box"></div><br>
                    <div id="" class="striker-box"></div>
                    <div id="" class="striker-box"></div>
                </div>
        </div>
    </div>
    <div id="" class="col">
        <label for="" id="" class="striker-label">2. Mid Top </label>
        <div id="" class="row1">
            <div id="50" class="box" (click)="boxPos(50, 'green-parallel-row')"></div>
            <div id="51" class="box arrow" (click)="boxPos(51, 'yellow-home-row')"></div>
            <div id="52" class="box" (click)="boxPos(52, 'yellow-before-start')"></div>
        </div>
        <div id="" class="row2">
            <div id="" class="box" (click)="boxPos(49, 'green-parallel-row')"></div>
            <div id="" class="box bg-yellow" ></div>
            <!--Pos index here-->
            <div id="" class="box bg-yellow" (click)="boxPos(1, 'yellow-start-row')"></div>
        </div>
        <div id="" class="row3">
            <div id="" class="box stamp" (click)="boxPos(48, 'green-parallel-row')"></div>
            <div id="" class="box bg-yellow"></div>
            <div id="" class="box" (click)="boxPos(2, 'yellow-start-row')"></div>
        </div>
        <div id="" class="row4">
            <div id="" class="box" (click)="boxPos(47, 'green-parallel-row')"></div>
            <div id="" class="box bg-yellow"></div>
            <div id="" class="box" (click)="boxPos(3, 'yellow-start-row')"></div>
        </div>
        <div id="" class="row5">
            <div id="" class="box" (click)="boxPos(46, 'green-parallel-row')"></div>
            <div id="" class="box bg-yellow"></div>
            <div id="" class="box" (click)="boxPos(4, 'yellow-start-row')"></div>
        </div>
        <div id="" class="row6">
            <div id="" class="box" (click)="boxPos(45, 'green-parallel-row')"></div>
            <div id="" class="box bg-yellow"></div>
            <div id="" class="box" (click)="boxPos(5, 'yellow-start-row')"></div>
        </div>
    </div>
    <div id="" class="col">
        <label for="" id="" class="striker-label">3. Right Top Etreme </label>
        <div id="" class="striker bg-yellow">
                <div id="" class="row1">
                    <div id="" class="striker-box"></div>
                    <div id="" class="striker-box"></div><br>
                    <div id="" class="striker-box"></div>
                    <div id="" class="striker-box"></div>
                </div>
        </div>
    </div>
</div>

<hr>

<div id="" class="row">
    <div id="" class="col">
    <label for="" id="" class="striker-label">4. Green 2nd towards home </label>
        <div id="" class="row1">
            <div id="" class="box" (click)="boxPos(39, 'green-before-start')"></div>
            <div id="" class="box bg-green" (click)="boxPos(40, 'green-start-row')"></div>
            <div id="" class="box" (click)="boxPos(41, 'green-home-row')"></div>
            <div id="" class="box" (click)="boxPos(42, 'green-home-row')"></div>
            <div id="" class="box" (click)="boxPos(43, 'green-home-row')"></div>
            <div id="" class="box" (click)="boxPos(44, 'green-home-row')"></div>
        </div>

        <div id="" class="row2">
            <div id="" class="box arrow"  (click)="boxPos(38, 'green-home-row')"></div>
            <div id="" class="box bg-green"></div>
            <div id="" class="box bg-green"></div>
            <div id="" class="box bg-green"></div>
            <div id="" class="box bg-green"></div>
            <div id="" class="box bg-green"></div>
        </div>
        <div id="" class="row3">
            <div id="" class="box"  (click)="boxPos(37, 'red-parallel-row')"></div>
            <div id="" class="box"  (click)="boxPos(36, 'red-parallel-row')"></div>
            <div id="" class="box stamp"  (click)="boxPos(35, 'red-parallel-row')"></div>
            <div id="" class="box"  (click)="boxPos(34, 'red-parallel-row')"></div>
            <div id="" class="box" (click)="boxPos(33, 'red-parallel-row')"></div>
            <div id="" class="box" (click)="boxPos(32, 'red-parallel-row')"></div>
        </div>
    </div>
    <div id="" class="col">
        <label for="" id="" class="striker-label">5. Home Center</label>
        <div id="" class="row1">
            <!--Home box-->
            <div id="" class="box home"></div>
            <div id="" class="box yellow-home"></div>
            <div id="" class="box home"></div>
        </div>
        <div id="" class="row1">
            <!--Home box-->
            <div id="" class="box green-home"></div>
            <div id="" class="box home"></div>
            <div id="" class="box blue-home"></div>
        </div>
        <div id="" class="row1">
            <!--Home box-->
            <div id="" class="box home"></div>
            <div id="" class="box red-home"></div>
            <div id="" class="box home"></div>
        </div>
    </div>
    <div id="" class="col">

        <label for="" id="" class="striker-label">6. Right 2nd col blue </label>
        <div id="" class="row1">
            <div id="" class="box" (click)="boxPos(6, 'yellow-parallel-row')"></div>
            <div id="" class="box" (click)="boxPos(7, 'yellow-parallel-row')"></div>
            <div id="" class="box" (click)="boxPos(8, 'yellow-parallel-row')"></div>
            <div id="" class="box stamp" (click)="boxPos(9, 'yellow-parallel-row')"></div>
            <div id="" class="box" (click)="boxPos(10, 'yellow-parallel-row')"></div>
            <div id="" class="box" (click)="boxPos(11, 'yellow-parallel-row')"></div>
        </div>
        <div id="" class="row2">
            <div id="" class="box bg-blue"></div>
            <div id="" class="box bg-blue"></div>
            <div id="" class="box bg-blue"></div>
            <div id="" class="box bg-blue"></div>
            <div id="" class="box bg-blue"></div>
            <div id="" class="box arrow" (click)="boxPos(12, 'blue-home-way')"></div>
        </div>
        <div id="" class="row3">
            <div id="" class="box" (click)="boxPos(18, 'blue-start-row')"></div>
            <div id="" class="box" (click)="boxPos(17, 'blue-start-row')"></div>
            <div id="" class="box" (click)="boxPos(16, 'blue-start-row')"></div>
            <div id="" class="box" (click)="boxPos(15, 'blue-start-row')"></div>
            <div id="" class="box bg-blue" (click)="boxPos(14, 'blue-start-row')"></div>
            <div id="" class="box" (click)="boxPos(13, 'blue-before-start')"></div>
        </div>
    </div>

</div>


<hr>
<!--RED STARTS HERE-->
<div id="" class="row">
    <div id="" class="col">
        <label for="" id="" class="striker-label"> 7 .Left bottom Extreme</label>
        <div id="" class="striker bg-red">
                <div id="" class="row1">
                    <div id="" class="striker-box"></div>
                    <div id="" class="striker-box"></div><br>
                    <div id="" class="striker-box"></div>
                    <div id="" class="striker-box"></div>
                </div>
        </div>

    </div>
    <div id="" class="col">
        <label for="" id="" class="striker-label"> 8 .Mid bottom red</label>
        <div id="" class="row1">
            <div id="" class="box" (click)="boxPos(31, 'red-start-start')"></div>
            <div id="" class="box bg-red"></div>
            <div id="" class="box" (click)="boxPos(19, 'blue-parallel-row')"></div>
        </div>
        <div id="" class="row2">
            <div id="" class="box" (click)="boxPos(30, 'red-start-start')"></div>
            <div id="" class="box bg-red"></div>
            <div id="" class="box" (click)="boxPos(20, 'blue-parallel-row')"></div>
        </div>
        <div id="" class="row3">
            <div id="" class="box" (click)="boxPos(29, 'red-start-start')"></div>
            <div id="" class="box bg-red"></div>
            <div id="" class="box" (click)="boxPos(21, 'blue-parallel-row')"></div>
        </div>
        <div id="" class="row4">
            <div id="" class="box" (click)="boxPos(28, 'red-start-row')"></div>
            <div id="" class="box bg-red"></div>
            <div id="" class="box stamp" (click)="boxPos(22, 'blue-parallel-row')"></div>
        </div>
        <div id="" class="row5">
            <div id="" class="box bg-red" (click)="boxPos(27, 'red-start-row')"></div>
            <div id="" class="box bg-red"></div>
            <div id="" class="box" (click)="boxPos(23, 'blue-parallel-row')"></div>
        </div>
        <div id="" class="row6">
            <div id="" class="box" (click)="boxPos(26, 'red-before-start')"></div>
            <div id="" class="box arrow" (click)="boxPos(25, 'red-home-row')"></div>
            <div id="" class="box" (click)="boxPos(24, 'blue-parallel-row')"></div>
        </div>
    </div>
    <div id="" class="col">
        <label for="" id="" class="striker-label"> 9. Right Bottom Blue</label>
        <div id="" class="striker bg-blue">
            <div id="" class="row1">
                <div id="" class="striker-box"></div>
                <div id="" class="striker-box"></div><br>
                <div id="" class="striker-box"></div>
                <div id="" class="striker-box"></div>
            </div>
         </div>
    </div>
</div>
<!-- RIght row-->